<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/head.njk" %}
    {% block styles %}{% endblock %}
</head>
<body class="flexColumn">
    {% include "blocks/header/header.njk" %}
    {% block main %}{% endblock %}
    {% include "blocks/footer/footer.njk" %}
    <!-- Скрипты общие для всего сайта - Начало -->
    {% for file in ['jquery'] %}
        <script src="{{ 'vendors/' + file + '.min.js' }}"></script>
    {% endfor %}
    <!-- Скрипты общие для всего сайта - Конец -->
    {% block scripts %}{% endblock %}
</body>
</html>