{% from "components/buttons/buttons.njk" import macro as var %}
<header class="header">
    <div class="header-nav">
        {% include "blocks/navigation/navigation.njk" %}
    </div>
    <div class="header-burger"></div>
</header>